.joint_design{
    margin-bottom: 64px;
    padding-bottom: 80px;
    background-size: cover;
    background-image: url('../img/joint.jpg');
    background-repeat: no-repeat;
}
.joint_design h2{
	color: white;
	padding-top: 64px;
}


.doubleA{
	background: url('../img/doubleA.jpg');
	background-size: 100%;
	background-position:0 -100px;
	margin-right: 30px;
}
.youth{
	background: url('../img/youth.jpg');
	background-size: 100%;
	background-position:0 -120px;
}
.img-container{
    display: flex;
    justify-content: center;
}

.doubleA , .youth{
	width: 540px;
	height: 472px;
	color: #AA0601;
	font-size: 72px;
	line-height: 472px;
    text-align: center;
    background-repeat: no-repeat;
}

.doubleA div, .youth div{
    margin: auto;
}


@media(max-width:992px)
{
    .doubleA , .youth{
        width: 50%;
        font-size: 32px;
        line-height: 43px;
    }

}
@media(max-width:767px)
{
    .doubleA , .youth{
        font-size: 32px;
        line-height: 43px;
        width: 100%;
    }

    .doubleA{
        margin-bottom:16px ;
        margin-right: 0px;
    }

    .img-container{
        flex-direction: column;
        width: 100%;
    }
}