.joint_design{
    margin-bottom: 64px;
    padding-bottom: 80px;
    background-size: cover;
    background-image: url('../img/joint.jpg');
    background-repeat: no-repeat;
}
.joint_design h2{
	color: white;
	padding-top: 64px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.joint_pic{
    width: 540px;
    height:474px;  
	color: #AA0601;
    font-size: 72px;
    line-height: 474px;
    text-align: center;
    background-repeat: no-repeat;
}

.doubleA{
	background: url('../img/doubleA.jpg');
    margin-right: 30px;
    background-size: cover;
	background-position:center;
}
.youth{
    background: url('../img/youth.jpg');
    background-size: cover;
	background-position:center;
}

@media(max-width:1200px)
{
    .joint_pic{
        height: 40vw;
        line-height: 40vw;
    }
}

@media(max-width:992px)
{
    .joint_design{
        padding-bottom: 40px;
    }
    .joint_pic{
        font-size: 32px;
    }
}
@media(max-width:767px)
{
    .joint_design{
        padding-bottom: 32px;
    }
    .joint_pic{
        line-height: 284px;
        width: 345px;
        height:284px;
        margin:0 auto;
    }
    .doubleA{
        margin-bottom:16px ;
    }
    .img-container{
        flex-direction: column;
        width: 100%;
        margin : 0 auto;
    }
}