.joint_design{
    margin-bottom: 64px;
    padding-bottom: 80px;
    background-size: cover;
    background-image: url('../img/joint.jpg');
    background-repeat: no-repeat;
}
.joint_design h2{
	color: white;
	padding-top: 64px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.doubleA{
	background: url('../img/doubleA.jpg');
	background-size: 100%;
	background-position:0 -100px;
	margin-right: 30px;
}
.youth{
	background: url('../img/youth.jpg');
	background-size: 100%;
	background-position:0 -120px;
}

.joint_pic{
	width: 540px;
	height: auto;
	color: #AA0601;
	font-size: 72px;
    text-align: center;
    background-repeat: no-repeat;
}


@media(max-width:992px)
{
    .joint_pic{
        font-size: 32px;
        line-height: 43px;
    }
}
@media(max-width:767px)
{
    .joint_pic{
        font-size: 32px;
        line-height: 43px;
        width: 90%;
        margin:0 auto;
    }
    .doubleA{
        margin-bottom:16px ;
    }
    .img-container{
        flex-direction: column;
        width: 90%;
        margin : 0 auto;
    }
}