html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}



body{
    
}

h2
{
    color:#650300;
    padding-bottom: 60px;
    font-size: 48px;
    line-height: 72px;
	text-align: center;
}
h5{
	color: #650300;
	font-size: 24px;
	line-height: 36px;
	padding-bottom: 4px;
	text-align: center;
}


.nav{
	background-color:#AA0601;
	display: flex;
	color: white;
	justify-content: space-between;
}

.nav .logo-new{
	width: 80px;
	height: 48px;
	padding-left: 88px;
	padding-top: 30px;
	padding-bottom: 29px;
}

.nav ul{
	display:flex;
	flex-direction: row;
	flex-wrap:  wrap;
	margin-right: 88px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.nav li{
	font-size: 20px;
	line-height: 30px;
	margin-right: 64px;
}

.nav li a{
	color: #FFFFFF;
    text-decoration:none;
}
.nav li a:hover{
	color: blue;
}



.sale
{
	padding-top: 64px;
	background-color: #AA06010D;
	padding-bottom: 80px;
}

.sale ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 1200px;
	margin: 0 auto;
}

.sale li{
	width: 25%;
}

.sale img{
	margin: 0 auto;
	display:block;
}

.sale p{
	font-size: 16px;
	line-height: 24px;
	margin: 0 auto;
	width: 208px;
}

.sale .price img ,.sale .time img{
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
}

.sale .service img{
	padding-top: 3px;
	margin-bottom: 43px;
	width:100px;
	height:94px;
}

.sale .about img{
	padding-top: 15px;
	margin-bottom: 55px;
	width:100px;
	height:70px;
}



footer{
	background-color:#AA0601 ;
	color: white;
}

.footer-inner{
	width: 1200px;
	margin: 0 auto;
}

footer .up{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 22px;
}

footer a{
	color: #FFFFFF;
    text-decoration:none;
}

footer  a:hover{
	color: blue;
}

footer .menu{
	padding-top: 48px;
	margin-bottom: 32px;
}
footer .menu li{
	font-size: 16px;
	line-height: 24px;
	margin-right: 48px;
	display: inline;
}

footer .social{
	padding-top: 36px;
}

footer .social li{
	display: inline;
	margin-right: 32px;
}

footer .social img{
	width: 48px;
	height: 48px;
}

footer p a{
	font-size: 36px;
	line-height: 48px;
}

footer p{
	position: relative;
}

footer .phone{
	width: 44px;
	height: 44px;
	margin-right: 17px;
	position: relative;
	top: 6px;
}
footer .mail{
	width: 48px;
	height: 48px;
	margin-right: 12px;
	position: relative;
	top: 11px;
}


.down{
	padding-top: 24px;
	padding-bottom: 28px;
	display: flex;
	justify-content: space-between;
}

.down .left{
	display: flex;
	position: relative;
}

.down .right{
	padding-top: 16px;
}

.down .right div{
	display: inline;
	margin-right: 62px;
	font-size: 14px;
	line-height: 21px;
}


.copyright{
	font-size: 16px;
	line-height: 24px;
	margin-left: 38px;
	padding-top: 16px;
}

.nav .last ,
footer .menu .last,
footer .social .last ,
.down .right .last{
	margin-right: 0;
	padding-right: 0;
}

@media(max-width:1260px){
	.footer-inner{
		width: 92%;
	}
	.sale ul{
		width: 92%;
	}
}

@media(max-width:992px){
	h2
	{
		font-size: 32px;
		line-height: 48px;
		padding-bottom: 32px;
	}

	h5{
		font-size: 20px;
		line-height: 30px;
		padding-bottom: 8px;
	}

	.nav .logo-new{
		padding-left:39px;
	}
	.nav li{
		margin-right: 40px;
	}
	.nav ul{
		margin-right: 39px;
	}


	.sale{
		padding-top: 40px;
	}

	.sale li{
		width: 50%;
	}
	.sale .price{
		order: 3;
		margin-top: 40px;
	}
	.sale .time{
		order: 1;
	}
	.sale .service{
		order: 2;
	}
	.sale ul .about{
		order: 4;
		margin-top: 40px;
	}

	.sale .price img{
		width: 80px;
		height: 79px;
		margin-bottom: 15.6px;
	}
	.sale .time img {
		width: 80px;
		height: 80px;
		margin-bottom: 16px;
	}
	.sale .service img{
		width: 80px;
		height: 75px;
		margin-bottom: 18.8px;
	}
	.sale .about img{
		width: 80px;
		height: 56px;
		padding-top: 12px;
		margin-bottom: 27px;
	}
	.sale p{
		width: 237px;
	}



	footer .menu{
		padding-top: 40px;
	}
	footer .social{
		padding-top: 40px;
	}
	footer .social li{
		margin-right: 24px;
	}
	footer .social img{
		width: 24px;
		height: 24px;
	}
	footer .phone{
		width: 24px;
		height:24px;
	}
	footer .mail{
		width: 32px;
		height:32px;
	}
	footer p a{
		font-size: 20px;
		line-height: 30px;
	}
	footer .up{
		padding-bottom: 27px;
	}
	footer .down img{
		display: none;
	}
	.copyright{
		margin-left: 0;
		padding-top: 0px;
	}
	.down .right{
		padding-top: 1px;
	}
	.down .right div{
		margin-right: 24px;
	}
	.down {
		padding-bottom: 40px;
	}
}

@media(max-width:767px){

	h2
	{
		font-size: 24px;
		line-height: 33px;
		padding-bottom: 20px;
	}


	
	.nav{
		flex-direction: column;
		align-items: center;
	}
	.nav .logo-new{
		padding-left: 0px;
		padding-top: 10px;
		padding-bottom: 11px;
	}

	.nav ul{
		width: 100%;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.nav li{
		width: 50%;
		margin-right: 0px;
		margin-left: 0px;
		text-align: center;
		border: 1px solid #FFFFFF;
		padding-top: 8px;
		padding-bottom: 8px;
		box-sizing: border-box;
	}

	.sale
	{
		padding-top: 32px;
		padding-bottom: 52px;
	}
	.sale li{
		width: 100%;
	}

	.sale .service{
		margin-top: 40px;
	}

	footer .up .left .menu{
		display: none;
	}
	footer .up .left{
		padding-top: 23px;
	}
	footer .social{
		padding-top: 24px;
	}

	footer .phone{
		margin-right: 4px;
		width: 20px;
		height:20px;
		top:4px;
	}
	footer .mail{
		margin-right: 5px;
		width: 20px;
		height:20px;
		top: 5px;
	}
	footer p a{
		font-size: 16px;
		line-height: 30px;
	}
	.down{
		padding-top: 18px;
		display: flex;
		flex-direction: column;
		padding-bottom: 25px;
	}
	footer .down img{
		display: block;
	}
	.down .right div{
		display: block;
	}
	.down .left  {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.privacy{
		padding-bottom: 8px;
	}
	.down .left  img{
		width: 46px;
		height: 28px;
		position: relative;
		top:60px;
	}
}

