

.content_section{
    width: 920px;
    margin: 0 auto;
}

.arrow_down{
    width: 24px;
    height: 24px;
}
.search{
    width: 24px;
    height: 24px;
    margin-top: 37px;
    margin-right: 26.03px;
}
.notifications{
    width: 19.94px;
    height: 19.5px;
    margin-top: 39.5px;
}
.hw_list{
    width: 320px;
}

.all_hw{
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 6px;
}
.chapter{
    font-size: 12px;
    line-height: 15px;
    margin-top: 12px;
    margin-bottom: 4px;
    
}
.note{
    font-style: 16px;
    line-height: 19px;
    margin-bottom: 12px;
}
.complete_time{
    font-size: 12px;
    line-height: 15px;
    margin-top: 12px;
    margin-bottom: 8px;
}
.student_name{
    font-size: 12px;
    line-height: 15px;
    color: $gray200;
    margin-bottom: 12px;
}
.hw_section{
    width: 584px;
    border: 1px solid $green300;
}
.comment{
    font-size: 12px;
    line-height: 15px;
    color:$gray100;
    margin-bottom: 8px;
    margin-top: 2px;
}
.hw_header{
    border-bottom: 1px solid $green300;
}
.hw_title{
    font-size: 12px;
    line-height: 15px;
    margin-top: 12px;
    margin-bottom: 4px;
}
.problem{
    font-style: 16px;
    line-height: 19px;
    margin-bottom: 12px;
}
.msg{
    font-size: 14px;
    line-height: 21px;
}
.student_photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.teacher_photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.name{
    font-style: 16px;
    line-height: 19px;
}
.time{
    font-size: 12px;
    line-height: 15px;
    color:$gray200;
}

.button{
    font-style: 16px;
    line-height: 19px;
    cursor: pointer;
}
.btn_g400{
    background-color:$green400;
    color:$white;
    border: 1px solid $green400;
}
.btn_g400_h{
    background-color:$white;
    color:$green400;
    border: 1px solid $green400;
}
.btn_g400:hover{
    background-color:$white;
    color:$green400;
    border: 1px solid $green400;
}
.btn_g400_h:hover{
    background-color:$green400;
    color:$white;
    border: 1px solid $green400;
}

.email{
    font-size: 14px;
    line-height: 17px;
    color: $gray200;
}