body {
  font-family: Lato;
}

h1 {
  padding-top: 32px;
  padding-right: 46px;
  padding-bottom: 44px;
  font-size: 24px;
  line-height: 29px;
}

h2 {
  padding-top: 39px;
  font-size: 16px;
  line-height: 19px;
  padding-right: 7px;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

td:hover {
  cursor: pointer;
}

.dblock {
  display: block;
}

.dflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.space_between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.pointer {
  cursor: pointer;
}

.pos_relative {
  position: relative;
}

.bg_g200 {
  background-color: #EDF4EE;
}

.bg_g400 {
  background-color: #2A8356;
}

.bg_w {
  background-color: #fff;
}

.ft_w {
  color: #fff;
}

.ft_g400 {
  color: #2A8356;
}

.ft_b900 {
  color: black;
}

.ft_wt_b {
  font-weight: bold;
}

.align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.align_center {
  text-align: center;
}

.t-1px {
  top: -1px;
}

.t-2px {
  top: -2px;
}

.t-3px {
  top: -3px;
}

.pl_12px {
  padding-left: 12px;
}

.pl_16px {
  padding-left: 16px;
}

.pl_32px {
  padding-left: 32px;
}

.pr_12px {
  padding-right: 12px;
}

.pr_16px {
  padding-right: 16px;
}

.pr_32px {
  padding-right: 32px;
}

.pt_6px {
  padding-top: 6px;
}

.pt_8px {
  padding-top: 8px;
}

.pt_11px {
  padding-top: 11px;
}

.pt_19px {
  padding-top: 19px;
}

.pb_6px {
  padding-bottom: 6px;
}

.pb_8px {
  padding-bottom: 8px;
}

.pb_10px {
  padding-bottom: 10px;
}

.pb_17px {
  padding-bottom: 17px;
}

.mr_7px {
  margin-right: 7px;
}

.mr_8px {
  margin-right: 8px;
}

.mr_16px {
  margin-right: 16px;
}

.mr_17px {
  margin-right: 17px;
}

.mr_18px {
  margin-right: 18px;
}

.mr_19px {
  margin-right: 19px;
}

.mr_24px {
  margin-right: 24px;
}

.mr_25px {
  margin-right: 25px;
}

.mr_32px {
  margin-right: 32px;
}

.mt_16px {
  margin-top: 16px;
}

.mt_17px {
  margin-top: 17px;
}

.mt_22px {
  margin-top: 22px;
}

.mt_32px {
  margin-top: 32px;
}

.mt_37px {
  margin-top: 37px;
}

.mb_4px {
  margin-bottom: 4px;
}

.mb_12px {
  margin-bottom: 12px;
}

.mb_16px {
  margin-bottom: 16px;
}

.mb_22px {
  margin-bottom: 22px;
}

.mb_23px {
  margin-bottom: 23px;
}

.mb_29px {
  margin-bottom: 29px;
}

.mb_32px {
  margin-bottom: 32px;
}

.mb_63px {
  margin-bottom: 63px;
}

.ml_16px {
  margin-left: 16px;
}

.ml_23px {
  margin-left: 23px;
}

.ml_29px {
  margin-left: 29px;
}

.ml_31px {
  margin-left: 31px;
}

.ml_32px {
  margin-left: 32px;
}

.ml_33px {
  margin-left: 33px;
}

.ml_34px {
  margin-left: 34px;
}

.ml_35px {
  margin-left: 35px;
}

.b_g300_1 {
  border: 1px solid #CDDDCD;
}

.bb_g300_1 {
  border-bottom: 1px solid #CDDDCD;
}

.bl_g400_4 {
  border-left: 4px solid #2A8356;
}

.b_g400_1 {
  border: 1px solid #2A8356;
}

.content_section {
  width: 920px;
  margin-left: 32px;
}

.float_right {
  float: right;
}
/*# sourceMappingURL=common.css.map */