@import "my_variable"; 
@import"subcribe";
@import "common";

.banner
{
    height: 100vh;
    background: url('../img/laura_chouette.jpg')  no-repeat padding-box;
    background-size: cover;
    background-position: center;
}

.Gabrielle_CHANEL_photo{
    background: url("../img/Gabrielle_CHANEL.jpg")  no-repeat padding-box;
    background-size: cover;
    background-position: center 30%;
    height:350px;
}

.Au_Gingembre_photo{
    background: url("../img/Au_Gingembre_photo.png")  no-repeat padding-box;
    background-size: cover;
    background-position: center;
    height:350px;
}

.CHANEL_N5_photo{
    background: url("../img/CHANEL_N5.jpg")  no-repeat padding-box;
    background-size: cover;
    height:350px;
}

.annie_spratt_photo{
    
    background: url('../img/annie_spratt.jpg')  no-repeat padding-box;
    background-size: cover;
    background-position: center;
    height: 680px;
}

.Poppy_Barley{
    background: url("../img/Poppy_Barley.png")  no-repeat padding-box;
    background-size: cover;
    background-position: center 90%;
    max-width: 100%;
    height: 0;
    padding-top: 110%;
}
.Body_Wash{
    background: url("../img/Body_Wash.png")  no-repeat padding-box;
    background-size: cover;
    background-position: center 70%;
    max-width: 100%;
    height: 0;
    padding-top: 110%;
}
.Vinegar_Capsule{
    background: url("../img/Vinegar_Capsule.jpg")  no-repeat padding-box;
    background-size: cover;
    background-position: center 70%;
    max-width: 100%;
    height: 0;
    padding-top: 110%;
}
.filter{
    width: 100%;
    height:100%;
}
.Bottle_Recycling_photo{
    background: url("../img/Bottle_Recycling.jpg")  no-repeat padding-box;
    background-size: cover;
    background-position: center;
    height: 520px;
}


@media(min-width:768px)
{
    .Gabrielle_CHANEL_photo{
        height:555px;
        background-position: center;
    }
    
    .Au_Gingembre_photo{
        height:555px;
    }
    
    .CHANEL_N5_photo{
        height:555px;
    }
    .annie_spratt_photo{
        height:1080px;
    }
    .Poppy_Barley{
        padding-top:154%;
    }
    .Body_Wash{
        padding-top: 154%;
    }
    .Vinegar_Capsule{
        padding-top: 154%;
    }
}