@import "my_variable"; 
@import"subcribe";
@import "common";

.product{
    position: relative;
    width: 100%;  
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    } 
}
.product::before{
    display:block;
    content: '';
    width: 100%;
    padding-top: 100%;
}

